.polaroid {
  position: relative;
  float: left;
  margin: 20px 30px 0 48px;
  width: 400px;
  height: 400px;
  z-index: 0;
}

.polaroid .image {
  position: absolute;
  z-index: 100;
  padding-bottom: 90px;
  background-color: white;

  -moz-box-shadow:    0px 2px 7px -2px #999;
  -webkit-box-shadow: 0px 2px 7px -2px #999;
  box-shadow:         0px 2px 7px -2px #999;

  -webkit-transition: all 350ms ease-out;
     -moz-transition: all 350ms ease-out;
      -ms-transition: all 350ms ease-out;
       -o-transition: all 350ms ease-out;
          transition: all 350ms ease-out;

}

.polaroid .image .inner-shadow {
  position: absolute;
  pointer-events: none;
  width: 400px;
  height: 400px;
  top: 0;
  left: 0;
  -moz-box-shadow:    inset 0 0 1px #000000;
  -webkit-box-shadow: inset 0 0 1px #000000;
  box-shadow:         inset 0 0 1px #000000;
}

.polaroid .image .wrapper {
  overflow: hidden;
  width: 400px;
  height: 310px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.polaroid .image .avatar {
  position: absolute;
  width: 54px;
  height: 54px;
  left: 23px;
  bottom: 60px;
  border: 4px solid white;
  overflow: hidden;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  background-repeat: norepeat;
  background-position: center center;
  background-size: cover;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
  
  /* SMALL SIZE TO WORK W/ FAVICONS*/
  width: 34px;
  height: 34px;
  left: 32px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.polaroid .avatar img{
  width: 100%;
  height: 100%;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
}

.polaroid .image .handle,
.polaroid .image .handle:hover,
.polaroid .image .handle:link,
.polaroid .image .handle:visited,
.polaroid .image .handle:active,
.polaroid .image .handle:focus {
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  width: 290px;
  height: 15px;
  left: 100px;
  bottom: 69px;
  color: #5477CA;
  text-decoration: none;
}

.polaroid .image .time-ago {
  position: absolute;
  font-size: 12px;
  color: #B8B8B8;
  width: 70px;
  height: 40px;
  left: 20px;
  bottom: 18px;
  text-decoration: none;
  text-align: center;
}

.polaroid .image .caption {
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  width: 290px;
  height: 55px;
  left: 100px;
  bottom: 7px;
  overflow: hidden;
}

.polaroid .shadow {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.1;
  z-index: 50;
  -webkit-transition: all 350ms ease-out;
     -moz-transition: all 350ms ease-out;
      -ms-transition: all 350ms ease-out;
       -o-transition: all 350ms ease-out;
          transition: all 350ms ease-out;
}

.polaroid.lifted .image {
  opacity: 0.5;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.polaroid.lifted.rot1 .image {
  -webkit-transform: rotateX(-15deg) rotateY(-20deg) rotateZ(-5deg) translate(-10px, 120px) translateZ(140px) scale(1.15);
  -moz-transform: rotateX(-15deg) rotateY(-20deg) rotateZ(-5deg) translate(-10px, 120px) translateZ(140px) scale(1.15);
  -o-transform: rotateX(-15deg) rotateY(-20deg) rotateZ(-5deg) translate(-10px, 120px) translateZ(140px) scale(1.15);
  -ms-transform: rotateX(-15deg) rotateY(-20deg) rotateZ(-5deg) translate(-10px, 120px) translateZ(140px) scale(1.15);

}
.polaroid.lifted.rot2 .image {
  -webkit-transform: rotateX(-15deg) rotateY(-10deg) rotateZ(-1deg) translate(-10px, 150px) translateZ(140px) scale(1.15);
  -moz-transform: rotateX(-15deg) rotateY(-10deg) rotateZ(-1deg) translate(-10px, 150px) translateZ(140px) scale(1.15);
  -o-transform: rotateX(-15deg) rotateY(-10deg) rotateZ(-1deg) translate(-10px, 150px) translateZ(140px) scale(1.15);
  -ms-transform: rotateX(-15deg) rotateY(-10deg) rotateZ(-1deg) translate(-10px, 150px) translateZ(140px) scale(1.15);
}
.polaroid.lifted.rot3 .image {
  -webkit-transform: rotateX(-5deg) rotateY(-15deg) rotateZ(-3deg) translate(-10px, 100px) translateZ(140px) scale(1.15);
  -moz-transform: rotateX(-5deg) rotateY(-15deg) rotateZ(-3deg) translate(-10px, 100px) translateZ(140px) scale(1.15);
  -o-transform: rotateX(-5deg) rotateY(-15deg) rotateZ(-3deg) translate(-10px, 100px) translateZ(140px) scale(1.15);
  -ms-transform: rotateX(-5deg) rotateY(-15deg) rotateZ(-3deg) translate(-10px, 100px) translateZ(140px) scale(1.15);
}
.polaroid.lifted.rot4 .image {
  -webkit-transform: rotateX(-15deg) rotateY(-10deg) rotateZ(-5deg) translate(-10px, 140px) translateZ(140px) scale(1.15);
  -moz-transform: rotateX(-15deg) rotateY(-10deg) rotateZ(-5deg) translate(-10px, 140px) translateZ(140px) scale(1.15);
  -o-transform: rotateX(-15deg) rotateY(-10deg) rotateZ(-5deg) translate(-10px, 140px) translateZ(140px) scale(1.15);
  -ms-transform: rotateX(-15deg) rotateY(-10deg) rotateZ(-5deg) translate(-10px, 140px) translateZ(140px) scale(1.15);
}
.polaroid.lifted.rot5 .image {
  -webkit-transform: rotateX(-10deg) rotateY(-15deg) rotateZ(-4deg) translate(-10px, 150px) translateZ(140px) scale(1.15);
  -moz-transform: rotateX(-10deg) rotateY(-15deg) rotateZ(-4deg) translate(-10px, 150px) translateZ(140px) scale(1.15);
  -o-transform: rotateX(-10deg) rotateY(-15deg) rotateZ(-4deg) translate(-10px, 150px) translateZ(140px) scale(1.15);
  -ms-transform: rotateX(-10deg) rotateY(-15deg) rotateZ(-4deg) translate(-10px, 150px) translateZ(140px) scale(1.15);
}

.polaroid.lifted .shadow {
  opacity: 0;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate(0, 100px) scale(1.1);
}

.reload-waypoint {
  visibility: hidden;
  color: black;
  background-color: blue;
  width: 100px;
  height: 20px;
  float: left;
}

.loading-indicator {
  width: 50px;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}
​
/* extra */
.magazine #view{padding-bottom: 50px!important;}